/**************
*  HEADER CSS *
***************/

html, body{
    font-family: "PT Sans Narrow", sans-serif;
    background-color: #1c1c1c;
}

header{
    background-color: #ffffff;
}

#visa-header{
    height: 30px;
    background-color: #0C7CEC;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

input[type="text"] {
    border: none;
    border-bottom: 1px solid transparent;
    outline: none;
    padding-right: 30px;
}

input[type="text"]:focus {
    border-bottom: 2px solid #0282f9;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    color: #666;
    cursor: pointer;
}

#header-nav a{
    padding-block: 66px;
}

#header-nav a:hover{
    color: #0282f9;
    border-bottom: 5px solid #0282f9;
}

