/**************
*  FOOTER CSS *
***************/

#footer-buttons{
    background-color: #0282f9;
    padding: 30px;
}

#footer-buttons ul li i img{
    width: 80px;
    aspect-ratio: 1;
}

.container-second{
    width: 100%;
    background-image: url("../images/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    div{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        .list{
            display: flex;
            justify-content: flex-start;
            gap: 40px;
            margin: 40px 0;

            ul{
                list-style-type: none;

                h4{
                    padding-bottom: 15px;
                    font-size: 25px;
                    color: #ffffff;
                    user-select: none;
                }

                li{
                    cursor: pointer;
                    line-height: 2em;
                    color: #808080;

                    &:hover{
                        color: #ffffff;
                    }
                }
            }
        }

        figure{
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("../images/dc-logo-bg.png");
        }
    }

}

.container-third{

    width: 100%;
    background-color: #333333;
    padding: 30px 0;
    .container-fourth{

        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button{
            padding: 10px 15px;
            color: #ffffff;
            background-color: #303030;
            border: 5px solid #0282f9;
            cursor: pointer;
            -webkit-box-shadow: 5px 5px 10px 5px #000000;
            box-shadow: 5px 5px 10px 5px #000000;

            &:hover{
                transform: scale(1.1);
            }
        }

        div{
            display: flex;
            gap: 20px;
            align-items: center;

            span{
                color: #0282f9;
                font-weight: bold;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }

            i{
                width: 20px;

                img{
                    width: 100%;
                    &:hover{
                        transform: scale(1.3);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
